{% extends "base.html" %}

{% block title %}Zamani Project{% endblock %}

{% block content %}

<div id="sites">
 {% for site in sites %}
 <div class="site {% if site.filtered %}exclude{% endif %}">{{site.name}}</div>
 {% endfor %}
</div>

<div id="user_task_list">
 <table>
  <tr>
   <th>Name of task</th>
   <th>Site</th>
   <th>Priority</th>
   <th>Category</th>
   <th>Status</th>
  </tr>
  {% for task in user_tasks %}
 <tr>
   <td><a href="{% url web.views.task site=task.site.id task_id=task.id %}">{{ task.name }}</a></td>
   <td>{{ task.site }}</td>
   <td>{{ task.priority }}</td>
   <td>{{ task.category }}</td>
   <td>{{ task.get_job_status_display }}</td>
  </tr>
 {% endfor %}
 </table>
</div>

<div id="task_list">
 <table>
  <tr>
   <th>Name of task</th>
   <th>Site</th>
   <th>Priority</th>
   <th>Category</th>
   <th>Assignee</th>
   <th>Status</th>
  </tr>
 {% for task in tasks %}
 <tr>
   <td>{{ task.name }}</td>
   <td>{{ task.site }}</td>
   <td>{{ task.priority }}</td>
   <td>{{ task.category }}</td>
   <td>{{ task.assignee }}</td>
   <td>{{ task.get_job_status_display }}</td>
  </tr>
 {% endfor %}
 </table>
</div>
{% endblock %}
