{% extends "base.html" %}

{% block title %}Zamani Project{% endblock %}

{% block scripts %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "index.css" %}"/>
<script type="text/javascript" src="{% static "jquery.tablesorter.min.js" %}"></script>
<script type="text/javascript" src="{% static "index.js" %}"></script>

{% endblock %}

{% block header %}
    <h1 class="page-title">Task Overview</h1>
{% endblock %}

{% block breadcrumb %}
  
    
{% if site %}
    <li><a href="{% url web.views.index %}">Home</a><span class="divider">/</span></li>
    <li class="active">{{site.name}}<span class="divider">:</span></li>
    <li>(<a href="{% url web.views.view_site site=site.id%}">All Tasks</a><span class="divider">|</span><span class="active">My Tasks</span>)</li>
{% else %}
  <li class="active">Home</li>
{% endif %}
{% endblock %}

{% block content %}
<div class="row-fluid">
    <div class="block">
        <p class="block-heading">Outstanding tasks</p>
        <div class="block-body">
	  {% if outstanding %}
         <table class="table tablesorter">
            <thead>
              <tr>
               <th>Name of task</th>
               <th>Site</th>
               <th>Priority</th>
               <th>Category</th>
              </tr>
            </thead>
            <tbody>
             {% for task in outstanding %}
                 <tr>
                   <td><a href="{% url web.views.task site=task.site.id task_id=task.id %}">{{ task.job_type.name }}</a></td>
                   <td>{{ task.site }}</td>
                   <td>{{ task.priority }}</td>
                   <td>{{ task.job_type.category }}</td>
                  </tr>
             {% endfor %}
            </tbody>
         </table>
        {% else %}
            No outstanding tasks
        {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="block span6">
        <a href="#validationwidget" class="block-heading" data-toggle="collapse">Completed Tasks Awaiting Validation</a>
        <div id="validationwidget" class="block-body collapse in">
	    {% if validation_req %}
            <table class="table tablesorter">
                {%if perms.web.can_edit %}
            <thead>
              <tr>
                <th>Name of task</th>
                <th>Assignee</th>
               <th>Site</th>
               <th>Category</th>
               <!--<th>Status</th>-->
              </tr>
            </thead>
            <tbody>
             {% for task in validation_req %}
                 <tr>
                    <td><a href="{% url web.views.task site=task.site.id task_id=task.id %}">{{ task.job_type.name }}</a></td>
                    <td>{{task.assignee}}</td>
                   <td>{{ task.site }}</td>
                   <td>{{ task.job_type.category }}</td>
                   <!--<td>{{ task.get_job_status_display }}</td>-->
                  </tr>
             {% endfor %}
            </tbody>
            {%else %}
            <thead>
              <tr>
               <th>Name of task</th>
               <th>Site</th>
               <th>Category</th>
              </tr>
            </thead>
            <tbody>
             {% for task in validation_req %}
                 <tr>
                   <td><a href="{% url web.views.task site=task.site.id task_id=task.id %}">{{ task.job_type.name }}</a></td>
                   <td>{{ task.site }}</td>
                   <td>{{ task.job_type.category }}</td>
                   <!--<td>{{ task.get_job_status_display }}</td>-->
                  </tr>
             {% endfor %}
            </tbody>
            {%endif%}
         </table>
        {% else %}
            <p><br/>No tasks awaiting validation<br/></p>
        {% endif %}
        </div>
    </div>
    <div class="block span6">
        <a href="#futurewidget" class="block-heading" data-toggle="collapse">Tasks with unmet dependencies</a>
        <div id="futurewidget" class="block-body collapse in">
         {% if future %}
         <table class="table tablesorter">
            <thead>
              <tr>
               <th>Name of task</th>
               <th>Site</th>
               <th>Category</th>
               <!--<th>Status</th>-->
              </tr>
            </thead>
            <tbody>
             {% for task in future %}
                 <tr>
                   <td><a href="{% url web.views.task site=task.site.id task_id=task.id %}">{{ task.job_type.name }}</a></td>
                   <td>{{ task.site }}</td>
                   <td>{{ task.job_type.category }}</td>
                   <!--<td>{{ task.get_job_status_display }}</td>-->
                  </tr>
             {% endfor %}
            </tbody>
         </table>
         {% else %}
            <p><br/>No tasks with unmet dependencies<br/></p>
         {% endif %}
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="block">
        <a href="#teamoverview" class="block-heading" datatoggle="collapse">Team Task overview</a>
        <div id="teamoverview" class="block-body collapse in">
            <table class="table tablesorter">
            <thead>
             <tr>
               <th class="tl">Name</th>
               <th>Site</th>
               <th>Priority</th>
               <th>Category</th>
               <th>Assignee</th>
               <th class="tr">Status</th>
              </tr>
            </thead>
            <tbody>
             {% for task in overview %}
             <tr>
               <td>{{ task.job_type.name }}</td>
               <td>{{ task.site }}</td>
               <td>{{ task.priority }}</td>
               <td>{{ task.job_type.category }}</td>
               <td>{{ task.assignee }}</td>
               <td>{{ task.get_job_status_display }}</td>
              </tr>
             {% endfor %}
            </tbody>
            </table>
        <div>
    </div>
</div>
</div>
<div class="row-fluid">
    <div class="block span6">
        <a href="#completedwidget" class="block-heading" data-toggle="collapse">Completed Tasks</a>
        <div id="completedwidget" class="block-body collapse">
         <table class="table tablesorter">
            <thead>
              <tr>
               <th>Name of task</th>
               <th>Site</th>
               <th>Category</th>
               <!--<th>Status</th>-->
              </tr>
            </thead>
            <tbody>
             {% for task in completed %}
                 <tr>
                   <td><a href="{% url web.views.task site=task.site.id task_id=task.id %}">{{ task.job_type.name }}</a></td>
                   <td>{{ task.site }}</td>
                   <td>{{ task.job_type.category }}</td>
                   <!--<td>{{ task.get_job_status_display }}</td>-->
                  </tr>
             {% endfor %}
            </tbody>
         </table>
        </div>
    </div>
</div>
{% endblock %}
