.ui-dialog-title {
    font-size: 12px;

}
.ui-dialog-content {
    font-size: 12px;
}
.ui-button-text {
    font-size: 12px;
}

.done {
    background-color: #D5FFD5;
}
.notdone {
    background-color: #cccccc;
}

.auto {
    background-color: #ffffd0;
}

.busy {
    background-color: #d5d5ff;
}

.failed {
     background-color: #ffb0b0;
}

.hidden {
    display: none;
}

.source {
    position: absolute;
    left: 97px;
    top: 2px;
    width:10px;
    height: 10px;
}
.edit_switch {
    position: absolute;
    left: 97px;
    top: 15px;
    width:10px;
    height: 10px;
}
#workflow_vis {
    position: relative;
    border-style: solid;
    border-width: 1px;
    background-color: #FFF;
    overflow: auto;
}

#wrapper {
    margin-bottom : 20px;
}

.taskNode {
    padding: 5px;
    width: 110px;
    height : 80px;
    font-size: 12px;
    border-style:solid;
    border-width:1px;
    display:inline-block;
    border-radius: 10px;
    -moz-border-radius: 10px;
}



